.caja-naranja{
    border: solid 1px $color-lightredochre;
    background-color: $color-lightredochre;
    position: absolute;
    top: 178px;
    right: 250px;
    width: 160px;
    height: 160px;
    z-index: 2;
}

.caja-naranja i{
    color: $color-white;
    font-size: 70px;
    position: relative;
    left: 43px;
    top: 43px;
}